* {
    padding: 0;
    margin: 0;
}

.intro {
    font-family: 'Arial', sans-serif;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #f3f4f6;
}

.header ul li{
    border-bottom: 3px solid black;
}

.header ul li:hover{
    border-bottom: 3px solid #9333ea;
}

.iconsTab ul li {
    height: 55px;
    width: 55px;
    border-radius: 10px;
    background-color: rgba(169, 169, 169, 0.253);
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconsTab ul li img {
    height: 30px;
    /* width: 30px; */
    overflow: hidden;

    border-radius:8px;
    
}

.start-coding-container {
    margin-top: 10px;
}

.start-coding-btn {
    width: 12rem;
    height:3rem;
    /* padding: 10px 20px; */
    font-size: 1.5rem;
    background-color: hsl(271, 81%, 56%);
    color: white;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.start-coding-btn:hover {
    background-color: #7b2cd5;
    transform: scale(1.1);
}

/* Footer Container */
.footer {
    background: linear-gradient(135deg, #946ec4, #342253); /* Simple Gradient */
    font-family: 'Roboto', sans-serif;
    position: relative;
}

/* Circular Logo */
.logo-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Footer Section Titles */
.footer h3 {
    text-transform: uppercase;
    color: #f3e5f5; /* Light Purple */
}

/* Footer Links */
.footer a {
    color: #d1c4e9; /* Muted Purple */
    transition: color 0.3s;
}

.footer a:hover {
    color: white;
}

/* Footer Text */
.footer p {
    color: rgba(255, 255, 255, 0.9);
}

.footer-bottom {
    padding-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    
}
